<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="postdataMapper">
    <insert id="insertPost">
        INSERT INTO posttable(userNo,tagNo,title,content,positive,negative,createDate,updateDate)
        VALUES (#{userNo},#{tagNo},#{title},#{content},#{positive},#{negative},NOW(),NOW());
    </insert>
    <insert id="insertComment">
        INSERT INTO commenttable(postNo,userNo,content,positive,negative, createDate,updateDate)
        VALUES (#{postNo},#{userNo},#{content},#{positive},#{negative},NOW(),NOW())
    </insert>
</mapper>
