<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="postMapper">
    <insert id="insertPost">
        INSERT INTO posttable(userNo,tagNo,title,content,positive,negative,createDate,updateDate)
        VALUES (#{userNo},2,#{title},#{content},#{positive},#{negative},NOW(),NOW());
    </insert>

    <insert id="insertComment">
        INSERT INTO commenttable(postNo,userNo,content,positive,negative, createDate,updateDate)
        VALUES (#{postNo},#{userNo},#{content},#{positive},#{negative},NOW(),NOW())
    </insert>

    <select id="selectTitle" resultType="String">
        SELECT title
        FROM posttable
        WHERE userNo=#{userNo}
        ORDER BY updateDate
        DESC;
    </select>

    <select id="selectContent" resultType="String">
        SELECT content
        FROM posttable
        WHERE userNo=#{userNo}
        ORDER BY updateDate
        DESC;
    </select>

    <select id="selectListByUserNo" parameterType="String" resultType="ac.dankook.postboard.data.Post">
        SELECT *
        FROM posttable p
        WHERE p.userNo = #{userNo}
    </select>

    <select id="selectMainPostByUserNo" parameterType="String" resultType="ac.dankook.postboard.data.Post">
        SELECT *
        FROM posttable p
        WHERE p.userNo = #{userNo}
        ORDER BY p.postNo DESC
        LIMIT 3;
    </select>

    <select id="selectMainPostByUserId" parameterType="String" resultType="ac.dankook.postboard.data.Post">
        SELECT *
        FROM posttable p, usertable u
        WHERE u.userId = #{userId}
        AND p.userNo = u.userNo
        LIMIT 3;
    </select>
    <select id="selectPostListNumber" parameterType="int">
      SELECT count(*)
      FROM posttable
      WHERE userNo = #{userNo};
    </select>
</mapper>
